{% extends 'base.html.twig' %}

{% block title %}Find all the best pins on earth !{% endblock %}

{% block body %}
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <div class="btn-group float-right right-action">
                        <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" id="rated"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                        </div>
                    </div>
                    <h6>{{ pins|length }} pins</h6>
                </div>
            </div>
        </div>
        <div class="row grid">
            {% include 'pins/__pins.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.grid').masonry({
                itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
                columnWidth: '.grid-sizer',
                percentPosition: true
            });
        });

        $('body').on('click', '.liked', function (event) {
            event.preventDefault();
            event.stopPropagation();
            const elem = $(this);
            const id = elem.data('pinid');
            elem.removeClass('liked');
            elem.addClass('not-liked');
            $.ajax({
                type: "POST",
                url: "{{ path('unlikePinAjax') }}" + "?id=" + id,
                success: function (response) {
                }
            });
        });

        $('body').on('click', '.not-liked', function (event) {
            event.preventDefault();
            event.stopPropagation();
            const elem = $(this);
            const id = elem.data('pinid');
            elem.removeClass('not-liked');
            elem.addClass('liked');
            $.ajax({
                type: "POST",
                url: "{{ path('likePinAjax') }}" + "?id=" + id,
                success: function (response) {
                }
            });
        });

        $('#rated').on('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $.ajax({
                type: "GET",
                url: "{{ path('app_filters_pin') }}",
                success: function (response) {
                    $('.grid').html(response.html);
                }
            });
        });
    </script>
{% endblock %}
